/* Styles for the register page */
.logo{
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}

.register-container{
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    background-color: #1D2931;
    border-radius: 0.625rem;
    border-style: solid;
    border-color: #283A46;
    border-width: 0.0625rem;
}

.register-header{
    font-size: 1.67rem !important;
    margin-top: 1.67rem;
    margin-bottom: 1.67rem;
}

.input-container{
    padding-bottom: 1rem;
}

.inputs{
    background-color: #182228;
    color: #F8F8F8;

    padding: 0.67rem;
    min-width: 67%;
    min-height: 3rem;
    border: 0.0625rem solid #283A46;
    border-radius: 0.625rem;
}
    .inputs:focus{
        outline:none;
    }

.password-indicator{
    font-weight: lighter;
    font-size: 0.67rem;
    margin-left: 2.80rem;
    margin-top: 0.33rem;
}

/* ------- Remember Me, UPDATE LATER -------*/
.checkbox-label input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkbox-label .checkbox-custom{
    position: absolute;
    top: 0rem;
    left: 0rem;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: 0.65rem;
    margin-top: 0.13rem;
    background-color: #1D2931;
    border-radius: 0.3125rem;
    border: 0.0625rem solid #283A46;
}
/* ------- Remember Me, UPDATE LATER -------*/

.button-container{
    padding-top: 1rem;
}

.button-custom{
    min-width: 67%;
    min-height: 3rem;
    margin-bottom: 1.67rem;
    margin-top: 1.67rem;
    border-radius: 0.625rem;
    border: none;

    background-color: #08D99A;
    color: #1D2931;
}

.login-text{
    font-size: 0.80rem;
    margin-bottom: 1.67rem;
    color: #F8F8F8;
}

.login-here {
    color: #08D99A !important;
}