{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/product_details.css') }}">
{% endblock %} 
{% block title %}Product Details{% endblock %}
{% block content %}  
<nav class="navbar">
    <div class="navbar-content-container">
        <div class="navbar-content-left">
            <a href="{{ url_for('index') }}" class="logo">emazon</a>
        </div>
        <div class="navbar-content-right">
            <div class="search-bar-container">
                <div id="search-form" class="search-bar-left">
                    <input 
                        type="text" 
                        class="search-bar-input-field"
                        placeholder="Search for a product..."
                        name="search_phrase"
                        onkeypress="handleSearch(event)"
                    >
                </div>
                <div class="search-bar-right">
                    <button class="search-button">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
            {% if user_is_logged_in == True %}
                <button class="user-button">
                    <i class="fas fa-user-circle"></i>
                </button>
            {% else %} 
                <a href="{{ url_for('login') }}" class="sign-in-button">Sign in</a>
            {% endif %}
            <a href="{{ url_for('shoppingCart') }}" class="cart-button">
                <i class="fas fa-shopping-cart"></i>
            </a>
        </div>
    </div>
</nav>   
    <div class="product-details-page-container">
        <div class="product-details-content">
            <div class="product-details-left">
                <img class="product-image" src="{{ product_info.picture }}" alt="{{ product_info.name }}">
            </div>
            <div class="product-details-right">
                <div class="product-details-right-top">
                    <h1 class="title">{{ product_info.name }}</h1>
                    <div class="reviews-display">
                        <div class="reviews-display-left">
                            {% for i in range(product_info.avg_rating)  %}
                                <i class="fas fa-star colored-star"></i>
                            {% endfor %}
                            {% for i in range(5 - product_info.avg_rating)  %}
                            <i class="fas fa-star"></i>
                            {% endfor %}
                        </div>
                        <div class="reviews-display-right">
                            {% if product_info.reviews | length == 1 %}
                                <p>{{ product_info.Reviews | length }} review</p>
                            {% else %}
                                <p>{{ product_info.Reviews | length }} reviews</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="product-details-right-center">
                    <p class="product-description">{{ product_info.description }}</p>
                    <h2 class="product-price">${{ product_info.price }}</h2>
                </div>
                <form class="product-details-right-bottom">
                    <div class="quantity-container">
                        <div class="quantity-container-left">
                            <p>Qty:</p>
                        </div>
                        <div class="quantity-container-right">
                            <div class="quantity-button-container">
                                <button class="add-button">
                                    <i class="fas fa-plus"></i>
                                </button>
                                <p class="quantity">1</p>
                                <button class="minus-button">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <button onclick="addToCart('{{ product_info.name }}')" class="add-to-cart-button">Add to cart</button>
                </form>
            </div>
        </div>
        <div class="customer-reviews-container">
            <div class="customer-reviews-content">
                <h1 class="title">Customer reviews ({{ product_info.Reviews | length }})</h1>
                <div class="customer-reviews">
                    {% for review in product_info.Reviews %}
                        <div class="review-container">
                            <h3 class="reviewer-name">{{review.User}}</h3>
                            <div class="reviews-display">
                                <div class="reviews-display-left">
                                    {% for i in range(review.Rating) %}
                                        <i class="fas fa-star colored-star"></i>
                                    {% endfor %}
                                    {% for i in range(5 - review.Rating) %}
                                    <i class="fas fa-star"></i>
                                    {% endfor %}
                                </div>
                                <!-- <div class="reviews-display-right">
                                    <p>Purchased 3 days ago</p>
                                </div> -->
                            </div>
                            <p class="review-text">{{ review.Review }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}